
<a id="lists"></a>
# Lists
The simplest compound data type are *lists*.

## Creating lists
Lists collect a series of other data type values in order between square brackets `[` and `]`. 
As with strings, the first element is 0 rather than 1.

In [1]:
L = [5, 9, 1]
print(L)

[5, 9, 1]

The list can be shown like this.

![list1.jpg](list1.jpg)

Lists can be combinations of any data types.

In [2]:
L = [5, "9", 1.0]
print(L)

[5, '9', 1.0]

## Lists and variables
There is not room to store the whole list in a variable, so the variable stores a *pointer* to the list. 
That can be shown like this.

![list2.jpg](list2.jpg)

When a list is assigned to a variable and that variable is assigned to another variable, the entire list isn't copied into the second variable. 
Only the *pointer* is copied.

![list3.jpg](list3.jpg)

We can show that when both variables are pointing to the same list, when we change the list through the first variable we will see the change when looking through the second variable.

In [8]:
L = [5, 9, 1]
M = L
print(M)
L[1] = 2
print("after L[1] = 2, L is ", L, " and M is ", M)

[5, 9, 1]
after L[1] = 2, L is  [5, 2, 1]  and M is  [5, 2, 1]

<img src="list4.jpg" width="400">

### `copy` function
To assign a list to another variable and be able to change the list through the second variable without affecting the first list, the `copy` function makes a copy of the list before assigning it to the second variable. 
Changing the second list then doesn't change the first list.

In [9]:
L = [5, 9, 1]
M = L.copy()
print(M)
L[1] = 2
print("after L[1] = 2, L is ", L, " and M is ", M)

[5, 9, 1]
after L[1] = 2, L is  [5, 2, 1]  and M is  [5, 9, 1]

![list5.jpg](list5.jpg)

## Operations on lists

Lists can be combined with the `+` add operator.

In [3]:
print("[5, 9, 10] + [4, 7] is ", L = [5, 9, 10] + [4, 7])

[5, 9, 10] + [4, 7] is  3

The `+=` shortcut works as well.

In [6]:
L = [5, 9, 10]
L += [4, 7]
print("[5, 9, 10] + [4, 7] is ", L)

[5, 9, 10] + [4, 7] is  [5, 9, 10, 4, 7]

Lists can be repeated with the `*` multiplication operator.

In [5]:
L = [1, 2] * 3
print("[1, 2] * 3 is ", L)

[1, 2] * 3 is  [1, 2, 1, 2, 1, 2]

The `*=` shortcut works as well.

In [4]:
L = [4, 5]
L *= 2
print("[4, 5] * 2 is ", L)

[4, 5] * 2 is  [4, 5, 4, 5]

## Getting data from lists
Each list item value can be accessed  with `[` and `]`, where *list*`[`*position*`]` gives the item at *position* in the list. 
List operators and functions count item positions from 0 rather than 1.
The list can count *position* from the beginning of the list or if *position* is negative, it can count from the back of the list.

In [31]:
L = [5, 9, 1]
x = L[0]
y = L[-2]
z = L[2]
print("x is ", x)
print("y is ", y)
print("z is ", z)

x is  5
y is  9
z is  1

The value of an list item can be changed in the list by assigning an item with its position in square brackets `[` and `]`. 
Like before, positions start from 0.

In [7]:
L = [5, 9, 1]
L[0] = 4 
L[-2] = 6 
L[2] = 2 
print(L)

[4, 6, 2]

### Slices
Lists that are part of other lists are *slices* or *sublists*. 
The slice operator looks like *variable*`[`*start*`:`*end*`]` where the slice are all the items from the item in the *start* position to the item *just before* the *end* position. 
The slice operator does not affect the original list, only the list slice is given as the slice
value.

A slice that has no *start* starts from the beginning of the list. 
A slice that has no *end* goes to the end of the list.

In [10]:
L = [5, 19, 1, 10, 8, 21]
x = L[:1]
print("L[0:1] is ", x)
x = L[:3]
print("L[:3] is ", x)
x = L[4:]
print("L[4:] is ", x)

L[0:1] is  [5]
L[:3] is  [5, 19, 1]
L[4:] is  [8, 21]

Change a range of tem Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

### `count` function
Return the number of times the value "cherry" appears in the fruits list:

In [ ]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")

## `index` function
The `index` function finds the position of an item in a list.
The index begins at 0.

In [6]:
  print(["a", "b", "c"].index("b"))

1

## `len` function
The `len` function gives the value of the list length.

In [5]:
L = [5, 9, 1]
print(len(L))

3

In [55]:
L = [5, 9, 1]
L.insert(0, 7)
print("after L.insert(0, 7), L is ", L)

after L.insert(0, 7), L is  [7, 5, 9, 1]

## `range` function
The `range` function creates a list with a range of values. 
The three forms of it are
- `range(`*stop*`)`
- `range(`*start*, *stop*`)`
- `range(`*start*, *stop*, *step*`)`

`range` does not directly return a list. It is used in loops described in [Instruction control](./instruction-control.ipynb).
You use `list` to return a `range` as a list.

In [8]:
print(list(range(10)))
print(list(range(1, 11)))
print(list(range(0, 30, 5)))
print(list(range(0, -10, -1)))
print(list(range(0)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 5, 10, 15, 20, 25]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
[]

## `sum`, `min`, `max` functions

Lists that are just numbers have functions to give the sum, minimum, and maximum.

In [48]:
L = [4, 1, 8, 2]
print("sum(", L, ") = ", sum(L))
print("min(", L, ") = ", min(L))
print("max(", L, ") = ", max(L))

sum( [4, 1, 8, 2] ) =  15
min( [4, 1, 8, 2] ) =  1
max( [4, 1, 8, 2] ) =  8

## Functions that change lists
Some functions change lists in place.

### `append` function
New items can be added at the end of the list with the `append` function.

When the `append` function is called for a list, 
the way it is called is *list*.`append(`*item*`)`. 
The list is still given to `append` as an argument even though it is not passed between `(` and `)`. 
When a list is given as an argument to a function, the pointer is given to the function.
Those functions then can use the pointer to change the list,
then the list will still be changed when the function is done. 

<img  src="list6.jpg" width="400">

In [13]:
L = [5, 9, 1]
L.append(15)
print("after L.append(15), L is ", L)

after L.append(15), L is  [5, 9, 1, 15]

### `clear` function
The clear() method removes all items from a list.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

### `extend` function
A list can be added to the end of a list with the `extend` function, like the `+` operator. 
The list to add at the end of the first list is the argument to `extend`.

In [21]:
L = [5, 9, 1]
M = [2, 4]
L.extend(M)
print("after L.extend(M), L is ", L)

after L.extend(M), L is  [5, 9, 1, 2, 4]

This shows `L.extend(M)`.

<img  src="list10.jpg" width="700">

### `insert` function
Items can be added in the beginning or the middle of the list with the `insert` function. 
The position where the item is added is the first argument to `insert`, starting from 0, and the item to add is the second argument. 
All the items after the one added are moved down the list.

In [54]:
L = [5, 9, 1]
L.insert(2, 4)
print("after L.insert(2, 4), L is ", L)

after L.insert(2, 4), L is  [5, 9, 4, 1]

This shows `L.insert(2, 4)`.

<img  src="list7.jpg" width="400">

This shows `L.insert(0, 7)`.

<img src="list8.jpg"  width="400">

### `pop` function
The `pop` function removes an item at some position and returns the item. 
The position of the item to remove starts from 0. 
All items after the one removed are moved up the list.

In [53]:
L = [5, 9, 1]
x = L.pop(1)
print("L after L.pop(1) is ", L, " and the item removed is ", x)

after L.pop(1), L is  [5, 1]  and the item removed is  9

This shows `L.pop(1)`, which gives the 9 removed as the value.

<img src="list9.jpg" width="400">

The del keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

The del keyword can also delete the list completely.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

### `reverse` function
Lists items can be reversed with the `reverse` function.

In [1]:
L = [4, 1, 8, 2]
L.reverse()
print("after L.reverse(), L is ", L)

after L.reverse(), L is  [2, 8, 1, 4]

This shows `L` after `L.reverse()`.

<img src="reverse1.jpg" width="400">

### `remove` function
The first item having some value can be removed from the with the `remove` function. 
The value of the item to remove is the first argument to `remove`. 
Only the first item having the value will be removed.
All items after the one removed are moved up the list.

In [52]:
L = [5, 9, 1, 9]
L.remove(9)
print("after L.remove(9), L is ", L)
L.remove(9)
print("after L.remove(9) again, L is ", L)

after L.remove(9), L is  [5, 1, 9]
after L.remove(9) again, L is  [5, 1]

This shows calling `L.remove(9)` twice.

<img src="list11.jpg" width="400">

### `sort` function
Lists can be sorted with the `sort` function into increasing number or alphabetic order.
This shows sorting a list of numbers.

In [22]:
L = [4, 1, 8, 2]
L.sort()
print("after L.sort(), L = ", L)

after L.sort(), L =  [1, 2, 4, 8]

This shows `L` after `L.sort()`.

<img  src="list12.jpg" width="500">

This shows sorting a list of strings.

In [45]:
L = ["horse", "cat", "ox", "dog"]
L.sort()
print("after L.sort(), L = ", L)

after L.sort(), L =  ['cat', 'dog', 'horse', 'ox']

This shows `L` after `L.sort()`.

<img  src="list13.jpg" width="400">

Sort Descending
To sort descending, use the keyword argument reverse = True:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

Case Insensitive Sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

## Lists from strings: `split` function
Lists can be created from strings with the `split` function.
Using `split` with no arguments splits a string at spaces.

<img src="split1.jpg" width="400">

In [41]:
s = "The cat in the hat"
print('s.split(",") is ', s.split(","))

s.split(",") is  ['The cat in the hat']

`split` can split strings separated by a particular string given as a second argument.

In [40]:
s = "first,second,third"
print('s.split(",") is ', s.split(","))

s.split(",") is  ['first', 'second', 'third']

## Strings from lists: `join` function
Strings can be created from list items by joining the list items separated by a particular string.

In [39]:
L = ["first", "second", "third"]
print('" ".join(', L, ") is ", " ".join(L))
L = ["O", "N", "E"]
print('"".join(', L, ") is ", "".join(L))

" ".join( ['first', 'second', 'third'] ) is  first second third
"".join( ['O', 'N', 'E'] ) is  ONE

This shows `" ".join(L)`.

<img src="join1.jpg" width="400">

## Tests with lists
Test whether an item is in a list with `in` and `not in`.

In [2]:
print('"this" in ["this", "that"]', "this" in ["this", "that"] )
print('"this" not in ["this", "that"]', "this" not in ["this", "that"] )

"this" in ["this", "that"] True
"this" not in ["this", "that"] False

### `in` in lists
`in` can be used to test if an item is in a list.

In [12]:
L = [1, 3, 9]
if 1 in L:
    print("1 is in ", L)
if 4 in L:
    print("4 is in ", L)

True
False

`in` can also be used to loop through the items in a list.

In [10]:
for x in [1, 2, 3]:
     print(x)

1
2
3

## `not in` in lists
`not in` can be used to test if an item is not in a list.

In [11]:
print(1 not in [1, 2, 3])
print(4 not in [1, 2, 3])

False
True

<a id="for-loop"></a>
## `for` loop with lists
This `for` loop runs for each item in a list.

In [ ]:
L = ["first", "second", "third"]
for i in L:
    print("the next item in ", L, " is ", i)

Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

<a id="list-comprehensions"></a>
## List comprehensions
Lists can be made using `for` loops. 
A *list comprehension* has a `for` loop inside `[` and `]` to create the items in a list. 
List comprehensions look like:

`[`*formula* `for` *variable* `in` *group*`]`

where the *formula* gives a value using the *variable* and the *variable* has the value of each item in the group.
This can be an easy shorthand compared to creating the list manually.

In [ ]:
L = []
for i in range(5):
  L.append(i)
print("L produced manually is ", L)
L = [i for i in range(5)]
print("[i for i in range(5)] produces ", L)
L = [2*i for i in range(5)]
print("[2*i for i in range(5)] produces ", L)
L = [c for c in "abc"]
print('[c for c in "abc"] produces ', L)

If the formula does not use the variable, the list will just repeat the value of the formula.

In [ ]:
L = [1 for i in range(5)]
print("[1 for i in range(5)] produces ", L)

List comprehensions can make creating many different kinds of lists easier because any formula or `for` loop can be used.