## Variables
*Variables* are symbols for values in a program.
Unlike variables in mathematics, which are symbols for one value, programs can change the values in variables. 
Initially variables have no value. 
Running this program gives an error.

In [5]:
print(n)

NameError: name 'n' is not defined

This stores 5 in a variable named `x` and prints it out.
 `=` assigns 5 to `x`.

In [6]:
x = 5
x

5

The variable can be shown like this, where `x` is a name for a place in which the value 5 is stored.
![image](variable1.jpg)

A variable can be assigned a  value and then be assigned  another  value to replace it. 
This stores 5 in the variable `x`, prints it out, then stores 7 in `x` and prints it out.

In [ ]:
x = 5
print("first x is ", x)
x = 7
print("then x is ", x)

This can be shown like this, where `x` stores the value 5, which is then replaced with the data 7.
`â†’` means "set to new value".
![variable2.jpg](variable2.jpg)
A variable can also be assigned the value of another variable. 
This stores 5 in `x`, then assigns that value to the variable `y` and prints it out.

In [ ]:
x = 5
y = x
print("x is ", x, " and y is ", y)

![image](variable3.jpg)
Variables can store many different types of data besides numbers.
This stores a string in the variable `s` and prints it out.

In [ ]:
s = "Hello world"
print("s is ", s)

### A note on variable names
Variable names start with a [*lowercase*](#glossary_lowercase) letter, `a` to `z`, or an [*uppercase*](#glossary_uppercase) letter, `A` to `Z`, or `_`. They can have a `_`, letter, or number inside but no other punctuation in them. They can not have a number at the beginning.

In [1]:
x = 2
x_y = 3
_x = 4
print("x is ", x, " x_y is ", x_y, ", _x is ", _x)

x is  2  x_y is  3 , _x is  4

Capital and small letters matter, the variable name must always look exactly the same everywhere.

In [2]:
X = 5
x = 6
print("X is ", X, " x is ", x)

X is  5  x is  6